@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3E3E3E;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  width: 100%;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.5px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  background: url("../img/icons/icon-corona.svg") center center/contain no-repeat;
}

.btn {
  display: inline-block;
  padding: 1.3125rem 3rem;
  border-radius: 0.5rem;
  background: #0075FF;
  font-weight: 700;
  line-height: 0.875;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background: #005ECC;
  -webkit-box-shadow: 0px 0.8125rem 1.6875rem rgba(0, 83, 181, 0.46);
          box-shadow: 0px 0.8125rem 1.6875rem rgba(0, 83, 181, 0.46);
}

.btn:active {
  -webkit-box-shadow: 0px 0.5rem 0.875rem rgba(0, 83, 181, 0.48);
          box-shadow: 0px 0.5rem 0.875rem rgba(0, 83, 181, 0.48);
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.btn.btn-border {
  color: #0075FF;
  background: transparent;
  border: 0.125rem solid #0075FF;
  padding: 1.1875rem 3rem;
}

.btn.btn-border:hover {
  background: #005ECC;
  color: #fff;
  border: 0.125rem solid #005ECC;
}

.descr__title {
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
  opacity: 0;
}

.descr__title._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.descr__right-side {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
  opacity: 0;
}

.descr__right-side._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.title {
  opacity: 0;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.title._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery__img--big {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.gallery__img--big._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery__img--small {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.gallery__img--small._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery__category.gallery__category--left {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.gallery__category.gallery__category--left._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery__img--small.gallery__img-left-small {
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.gallery__img--small.gallery__img-left-small._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery__img--big.gallery__img--right-big {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.gallery__img--big.gallery__img--right-big._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.breadcrumbs {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.breadcrumbs._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.gallery__btn {
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
          transform: translate(0, 25%);
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.gallery__btn._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.item-column {
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.item-column._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.contacts__item {
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.contacts__item._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.contacts__right-side {
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.contacts__right-side._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 1.5rem 0rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  padding: 0.625rem 0rem;
  background: #0075FF;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  opacity: 0;
  position: relative;
  z-index: 2;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.loaded .header__logo {
  opacity: 1;
  -webkit-transition: opacity 0.7s ease 0s;
  -o-transition: opacity 0.7s ease 0s;
  transition: opacity 0.7s ease 0s;
}

.header__logo img {
  max-width: 100%;
}

.header__menu {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header__telephone {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
}

.header__tel-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header__tel-item span {
  pointer-events: none;
  -webkit-transition: all 1s ease, opacity 0.5s ease;
  -o-transition: all 1s ease, opacity 0.5s ease;
  transition: all 1s ease, opacity 0.5s ease;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0;
  visibility: hidden;
  min-width: 8.125rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.touch .header__tel-item span {
  display: none;
}

.header__tel-item img {
  max-width: 100%;
}

.menu-open .header__tel-item {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #0075FF;
  -webkit-transition: left 0.8s ease 0s;
  -o-transition: left 0.8s ease 0s;
  transition: left 0.8s ease 0s;
  overflow: auto;
}

.menu::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  left: -100%;
  background: #0075FF;
  z-index: 5;
  -webkit-transition: left 0.8s ease 0s;
  -o-transition: left 0.8s ease 0s;
  transition: left 0.8s ease 0s;
}

.menu-open .menu::before {
  left: 0;
}

.menu__body {
  max-width: 65.625rem;
  padding-left: 0.9375rem;
  margin: 0 auto;
}

.menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.menu__item {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__link {
  display: inline-block;
  position: relative;
}

.menu__link:hover::after {
  width: 100%;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0;
  height: 0.125rem;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link--small {
  font-size: 0.75rem;
}

.menu__link--small::after {
  height: 0.0625rem;
  bottom: -0.25rem;
}

.menu-open .menu {
  left: 0;
}

.menu-open .menu__item:nth-child(1) {
  -webkit-transition: opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
  -o-transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
}

.menu-open .menu__item:nth-child(2) {
  -webkit-transition: opacity 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  transition: opacity 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  -o-transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.4s;
  transition: transform 0.3s ease 0.4s, opacity 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
}

.menu-open .menu__item:nth-child(3) {
  -webkit-transition: opacity 0.3s ease 0.6s, -webkit-transform 0.3s ease 0.6s;
  transition: opacity 0.3s ease 0.6s, -webkit-transform 0.3s ease 0.6s;
  -o-transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s;
  transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s;
  transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s, -webkit-transform 0.3s ease 0.6s;
}

.menu-open .menu__item:nth-child(4) {
  -webkit-transition: opacity 0.3s ease 0.8s, -webkit-transform 0.3s ease 0.8s;
  transition: opacity 0.3s ease 0.8s, -webkit-transform 0.3s ease 0.8s;
  -o-transition: transform 0.3s ease 0.8s, opacity 0.3s ease 0.8s;
  transition: transform 0.3s ease 0.8s, opacity 0.3s ease 0.8s;
  transition: transform 0.3s ease 0.8s, opacity 0.3s ease 0.8s, -webkit-transform 0.3s ease 0.8s;
}

.menu-open .menu__item:nth-child(5) {
  -webkit-transition: opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
  transition: opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
  -o-transition: transform 0.3s ease 1s, opacity 0.3s ease 1s;
  transition: transform 0.3s ease 1s, opacity 0.3s ease 1s;
  transition: transform 0.3s ease 1s, opacity 0.3s ease 1s, -webkit-transform 0.3s ease 1s;
}

.menu-open .menu__item:nth-child(6) {
  -webkit-transition: opacity 0.3s ease 1.2s, -webkit-transform 0.3s ease 1.2s;
  transition: opacity 0.3s ease 1.2s, -webkit-transform 0.3s ease 1.2s;
  -o-transition: transform 0.3s ease 1.2s, opacity 0.3s ease 1.2s;
  transition: transform 0.3s ease 1.2s, opacity 0.3s ease 1.2s;
  transition: transform 0.3s ease 1.2s, opacity 0.3s ease 1.2s, -webkit-transform 0.3s ease 1.2s;
}

.menu-open .menu__item:nth-child(7) {
  -webkit-transition: opacity 0.3s ease 1.4s, -webkit-transform 0.3s ease 1.4s;
  transition: opacity 0.3s ease 1.4s, -webkit-transform 0.3s ease 1.4s;
  -o-transition: transform 0.3s ease 1.4s, opacity 0.3s ease 1.4s;
  transition: transform 0.3s ease 1.4s, opacity 0.3s ease 1.4s;
  transition: transform 0.3s ease 1.4s, opacity 0.3s ease 1.4s, -webkit-transform 0.3s ease 1.4s;
}

.menu-open .menu__item {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.icon-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  display: inline-block;
  position: relative;
  width: 1.5rem;
  height: 1rem;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.3125rem;
  background-color: #fff;
}

.icon-menu::before {
  top: 0;
  left: 0;
}

.icon-menu::after {
  bottom: 0;
  left: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .icon-menu:hover::before {
  width: 100%;
}

.menu-open .icon-menu:hover::after {
  width: 100%;
}

.footer {
  position: relative;
}

.footer__background--ibg {
  width: 100%;
  padding-bottom: 28.514694%;
  /* 359/1259 */
}

.footer__logo {
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

:root {
  --app-height: 100%;
}

.hero-main {
  -webkit-transition: height 0.8s ease 0s;
  -o-transition: height 0.8s ease 0s;
  transition: height 0.8s ease 0s;
  height: var(--app-height);
  background: url("../img/hero-main/bg-hero.webp") center center/cover no-repeat;
}

.hero-main__container {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 8.125rem;
  padding-bottom: 3.75rem;
}

.hero-main__title {
  opacity: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5.6em;
          flex: 0 1 5.6em;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: -1.5px;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}

.loaded .hero-main__title {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hero-main__title::before {
  content: "";
  width: 0.5em;
  height: 0.125rem;
  background: #fff;
}

.descr__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.descr__left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.862745%;
          flex: 0 1 31.862745%;
}

.descr__right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49.019608%;
          flex: 0 1 49.019608%;
}

.descr__right-side > *:last-child {
  margin-bottom: 0rem;
}

.descr__right-side p {
  margin-bottom: 2.1875rem;
  line-height: 1.7;
}

.descr__title {
  font-weight: 700;
  color: #000;
}

.descr__title span {
  color: #0075FF;
}

.descr__title-small {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #0075FF;
}

.descr__title-small:not(:last-child) {
  margin-bottom: 1rem;
}

.descr__generalization {
  font-weight: 700;
  line-height: 1.7;
}

.gallery__category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.gallery__img {
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.gallery__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__img--big {
  padding-bottom: 38.095238%;
  /* 256/672 */
}

.gallery__img--medium {
  padding-bottom: 51.405622%;
  /* 256/498 */
}

.gallery__img--small {
  padding-bottom: 79.012346%;
  /* 256/324 */
}

.gallery__breadcrumbs {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}

.gallery__btn {
  text-align: center;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  overflow: auto;
}

.breadcrumbs__item {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  line-height: 1.7;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
}

.touch .breadcrumbs__item {
  padding-bottom: 0.3125rem;
}

.breadcrumbs__link {
  font-weight: 700;
  color: #0075FF;
}

.testimonials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0rem -0.75rem;
}

.testimonials__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0rem 0.75rem;
}

.item-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.item-column__body {
  text-align: center;
}

.item-column__img {
  width: 9.375rem;
  height: 9.375rem;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.item-column__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-column__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.item-column__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  color: #0075FF;
}

.item-column__position {
  font-size: 0.875rem;
  line-height: 1.93;
  color: #9fadc2;
}

.item-column__text {
  line-height: 1.69;
  color: #3e3e3e;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.contacts__left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.196078%;
          flex: 0 1 40.196078%;
  /* 410/1020 */
}

.contacts__item {
  line-height: 1.93;
}

.contacts__item:last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.contacts__label {
  font-size: 0.875rem;
  color: #9fadc2;
}

.contacts__label:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contacts__descr {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contacts__descr:hover {
  color: #0075FF;
}

.contacts__right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.196078%;
          flex: 0 1 40.196078%;
  /* 410/1020 */
}

.contacts__wrapper-items-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.contacts__wrapper-items-input:not(:last-child) {
  margin-bottom: 2rem;
}

.contacts__input,
.contacts__textarea {
  border-radius: 0.5rem;
  background: #f7f8ff;
  border: 0.125rem solid transparent;
  outline: none;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.contacts__input::-webkit-input-placeholder, .contacts__textarea::-webkit-input-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
}

.contacts__input::-moz-placeholder, .contacts__textarea::-moz-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
}

.contacts__input:-ms-input-placeholder, .contacts__textarea:-ms-input-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
}

.contacts__input::-ms-input-placeholder, .contacts__textarea::-ms-input-placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
}

.contacts__input::placeholder,
.contacts__textarea::placeholder {
  color: #8f99a8;
  font-size: 0.875rem;
}

.contacts__input:hover,
.contacts__textarea:hover {
  border: 0.125rem solid #9fadc2;
}

.contacts__input:focus,
.contacts__textarea:focus {
  border: 0.125rem solid #0075FF;
}

.contacts__input {
  background: #f7f8ff;
  padding: 0 1.0625rem;
  height: 3rem;
}

.contacts__textarea {
  padding: 0.875rem 1.0625rem;
  min-height: 9.0625rem;
  max-height: 18.75rem;
  resize: vertical;
}

.scroll-back-to-top {
  position: fixed;
  z-index: 5;
  width: 3.125rem;
  height: 3.125rem;
  right: 1.25rem;
  bottom: 1.25rem;
  padding: 0.9375rem;
  border-radius: 50%;
  background: #0075FF;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.scroll-back-to-top:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.scroll-back-to-top::before {
  content: "";
  width: 0.75rem;
  height: 1.5625rem;
  position: absolute;
  top: calc(50% - 6px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  background: url("../img/icons/icon-arrow.svg") center center/contain no-repeat;
  -webkit-animation: pulse-1 1.2s linear infinite alternate running 0.5s;
          animation: pulse-1 1.2s linear infinite alternate running 0.5s;
}

@-webkit-keyframes pulse-1 {
  100% {
    opacity: 0;
  }
}

@keyframes pulse-1 {
  100% {
    opacity: 0;
  }
}

.scroll-back-to-top::after {
  content: "";
  width: 0.75rem;
  height: 1.5625rem;
  position: absolute;
  bottom: calc(50% - 6px);
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(90deg);
      -ms-transform: translate(-50%, 50%) rotate(90deg);
          transform: translate(-50%, 50%) rotate(90deg);
  background: url("../img/icons/icon-arrow.svg") center center/contain no-repeat;
  -webkit-animation: pulse-2 1.2s linear infinite alternate running 0s;
          animation: pulse-2 1.2s linear infinite alternate running 0s;
}

@-webkit-keyframes pulse-2 {
  100% {
    opacity: 0;
  }
}

@keyframes pulse-2 {
  100% {
    opacity: 0;
  }
}

.scroll-back-to-top._scroll-top {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 61.99875em) {
  .gallery__img--big {
    -ms-grid-column-span: 8;
    grid-column: span 8;
  }

  .gallery__img--medium {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .gallery__img--small {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .gallery__breadcrumbs {
    -ms-grid-column-span: 12;
    grid-column: span 12;
  }

  .contacts__left-side {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (9.375rem)[2];
    grid-template-columns: repeat(2, 9.375rem);
    row-gap: 1.5rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: start;
        align-content: start;
  }
}

@media (min-width: 65.625em) {
  .title {
    font-size: 3rem;
  }

  .title:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  .header__logo {
    -ms-flex-preferred-size: 8.4375rem;
        flex-basis: 8.4375rem;
  }

  .menu::before {
    min-height: 6.8125rem;
  }

  .footer__background--ibg {
    min-height: 22.5rem;
  }

  .footer__logo {
    bottom: 2rem;
  }

  .footer__logo img {
    max-width: 8.5rem;
  }

  .footer__logo img {
    max-height: 5rem;
  }

  .page:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .page__main:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .hero-main__title {
    font-size: 5rem;
  }

  .descr__title {
    font-size: 3rem;
  }

  .gallery__category {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }

  .gallery__category {
    row-gap: 1.5rem;
  }

  .gallery__category:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-column__img-wrapper:not(:last-child) {
    margin-bottom: 2rem;
  }
}

@media (min-width: 77.5em) {
  .menu__body {
    padding-top: 9.375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.25rem;
  }

  .title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .header__logo {
    -ms-flex-preferred-size: 5.3125rem;
        flex-basis: 5.3125rem;
  }

  .menu::before {
    min-height: 4.375rem;
  }

  .menu__body {
    padding-top: 7.5rem;
  }

  .footer__background--ibg {
    min-height: 12.875rem;
  }

  .footer__logo {
    bottom: 1.5625rem;
  }

  .footer__logo img {
    max-width: 5.125rem;
  }

  .footer__logo img {
    max-height: 3rem;
  }

  .page:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .page__main:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .hero-main__title {
    font-size: 2.875rem;
  }

  .descr__title {
    font-size: 2.25rem;
  }

  .gallery__category {
    -webkit-column-gap: 1.1875rem;
       -moz-column-gap: 1.1875rem;
            column-gap: 1.1875rem;
  }

  .gallery__category {
    row-gap: 1rem;
  }

  .gallery__category:not(:last-child) {
    margin-bottom: 2rem;
  }

  .item-column__img-wrapper:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}

@media (max-width: 61.99875em) {
  .gallery__category {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
  }

  .gallery__img {
    -ms-grid-column-span: 4;
    grid-column: span 4;
    padding-bottom: 51.405622% !important;
    /* 256/498 */
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 55.625em) {
  .testimonials__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .testimonials__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .testimonials__column:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media (max-width: 47.99875em) {
  .descr__container {
    display: block;
  }

  .descr__left-side:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .contacts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .btn {
    display: block;
  }
}

@media (max-width: 28.125em) {
  .gallery__img {
    padding-bottom: 100% !important;
    /* 256/498 */
  }
}

@media (max-width: 26.5625em) {
  .testimonials__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 20em) and (max-width: 65.625em) {
@supports (font-size: clamp( 2.25rem , 1.9212328767rem  +  1.6438356164vw , 3rem )) {
    .title {
      font-size: clamp( 2.25rem , 1.9212328767rem  +  1.6438356164vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9212328767rem  +  1.6438356164vw , 3rem )) {
    .title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 45.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.1626712329rem  +  3.5616438356vw , 3.5rem )) {
    .title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.1626712329rem  +  3.5616438356vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.1626712329rem  +  3.5616438356vw , 3.5rem )) {
    .title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.625 * (100vw - 20rem) / 45.625);
    }
}

@supports (flex-basis: clamp( 5.3125rem , 3.9426369863rem  +  6.8493150685vw , 8.4375rem )) {
    .header__logo {
      -ms-flex-preferred-size: clamp( 5.3125rem , 3.9426369863rem  +  6.8493150685vw , 8.4375rem );
          flex-basis: clamp( 5.3125rem , 3.9426369863rem  +  6.8493150685vw , 8.4375rem );
    }
}

@supports not (flex-basis: clamp( 5.3125rem , 3.9426369863rem  +  6.8493150685vw , 8.4375rem )) {
    .header__logo {
      -ms-flex-preferred-size: calc(5.3125rem + 3.125 * (100vw - 20rem) / 45.625);
          flex-basis: calc(5.3125rem + 3.125 * (100vw - 20rem) / 45.625);
    }
}

@supports (min-height: clamp( 4.375rem , 3.3065068493rem  +  5.3424657534vw , 6.8125rem )) {
    .menu::before {
      min-height: clamp( 4.375rem , 3.3065068493rem  +  5.3424657534vw , 6.8125rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.3065068493rem  +  5.3424657534vw , 6.8125rem )) {
    .menu::before {
      min-height: calc(4.375rem + 2.4375 * (100vw - 20rem) / 45.625);
    }
}

@supports (min-height: clamp( 12.875rem , 8.6558219178rem  +  21.095890411vw , 22.5rem )) {
    .footer__background--ibg {
      min-height: clamp( 12.875rem , 8.6558219178rem  +  21.095890411vw , 22.5rem );
    }
}

@supports not (min-height: clamp( 12.875rem , 8.6558219178rem  +  21.095890411vw , 22.5rem )) {
    .footer__background--ibg {
      min-height: calc(12.875rem + 9.625 * (100vw - 20rem) / 45.625);
    }
}

@supports (bottom: clamp( 1.5625rem , 1.3707191781rem  +  0.9589041096vw , 2rem )) {
    .footer__logo {
      bottom: clamp( 1.5625rem , 1.3707191781rem  +  0.9589041096vw , 2rem );
    }
}

@supports not (bottom: clamp( 1.5625rem , 1.3707191781rem  +  0.9589041096vw , 2rem )) {
    .footer__logo {
      bottom: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 45.625);
    }
}

@supports (max-width: clamp( 5.125rem , 3.6455479452rem  +  7.397260274vw , 8.5rem )) {
    .footer__logo img {
      max-width: clamp( 5.125rem , 3.6455479452rem  +  7.397260274vw , 8.5rem );
    }
}

@supports not (max-width: clamp( 5.125rem , 3.6455479452rem  +  7.397260274vw , 8.5rem )) {
    .footer__logo img {
      max-width: calc(5.125rem + 3.375 * (100vw - 20rem) / 45.625);
    }
}

@supports (max-height: clamp( 3rem , 2.1232876712rem  +  4.3835616438vw , 5rem )) {
    .footer__logo img {
      max-height: clamp( 3rem , 2.1232876712rem  +  4.3835616438vw , 5rem );
    }
}

@supports not (max-height: clamp( 3rem , 2.1232876712rem  +  4.3835616438vw , 5rem )) {
    .footer__logo img {
      max-height: calc(3rem + 2 * (100vw - 20rem) / 45.625);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.7551369863rem  +  6.8493150685vw , 6.25rem )) {
    .page:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.7551369863rem  +  6.8493150685vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.7551369863rem  +  6.8493150685vw , 6.25rem )) {
    .page:not(:last-child) {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 45.625);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.7551369863rem  +  6.8493150685vw , 6.25rem )) {
    .page__main:not(:last-child) {
      margin-bottom: clamp( 3.125rem , 1.7551369863rem  +  6.8493150685vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.7551369863rem  +  6.8493150685vw , 6.25rem )) {
    .page__main:not(:last-child) {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 45.625);
    }
}

@supports (font-size: clamp( 2.875rem , 1.9434931507rem  +  4.6575342466vw , 5rem )) {
    .hero-main__title {
      font-size: clamp( 2.875rem , 1.9434931507rem  +  4.6575342466vw , 5rem );
    }
}

@supports not (font-size: clamp( 2.875rem , 1.9434931507rem  +  4.6575342466vw , 5rem )) {
    .hero-main__title {
      font-size: calc(2.875rem + 2.125 * (100vw - 20rem) / 45.625);
    }
}

@supports (font-size: clamp( 2.25rem , 1.9212328767rem  +  1.6438356164vw , 3rem )) {
    .descr__title {
      font-size: clamp( 2.25rem , 1.9212328767rem  +  1.6438356164vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9212328767rem  +  1.6438356164vw , 3rem )) {
    .descr__title {
      font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 45.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem )) or (column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem ))) {
    .gallery__category {
      -webkit-column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem );
         -moz-column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem );
              column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem )) or (column-gap: clamp( 1.1875rem , 1.0505136986rem  +  0.6849315068vw , 1.5rem ))) {
    .gallery__category {
      -webkit-column-gap: calc(1.1875rem + 0.3125 * (100vw - 20rem) / 45.625);
         -moz-column-gap: calc(1.1875rem + 0.3125 * (100vw - 20rem) / 45.625);
              column-gap: calc(1.1875rem + 0.3125 * (100vw - 20rem) / 45.625);
    }
}

@supports (row-gap: clamp( 1rem , 0.7808219178rem  +  1.095890411vw , 1.5rem )) {
    .gallery__category {
      row-gap: clamp( 1rem , 0.7808219178rem  +  1.095890411vw , 1.5rem );
    }
}

@supports not (row-gap: clamp( 1rem , 0.7808219178rem  +  1.095890411vw , 1.5rem )) {
    .gallery__category {
      row-gap: calc(1rem + 0.5 * (100vw - 20rem) / 45.625);
    }
}

@supports (margin-bottom: clamp( 2rem , 1.7808219178rem  +  1.095890411vw , 2.5rem )) {
    .gallery__category:not(:last-child) {
      margin-bottom: clamp( 2rem , 1.7808219178rem  +  1.095890411vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 2rem , 1.7808219178rem  +  1.095890411vw , 2.5rem )) {
    .gallery__category:not(:last-child) {
      margin-bottom: calc(2rem + 0.5 * (100vw - 20rem) / 45.625);
    }
}

@supports (margin-bottom: clamp( 1.75rem , 1.6404109589rem  +  0.5479452055vw , 2rem )) {
    .item-column__img-wrapper:not(:last-child) {
      margin-bottom: clamp( 1.75rem , 1.6404109589rem  +  0.5479452055vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.75rem , 1.6404109589rem  +  0.5479452055vw , 2rem )) {
    .item-column__img-wrapper:not(:last-child) {
      margin-bottom: calc(1.75rem + 0.25 * (100vw - 20rem) / 45.625);
    }
}
}

@media (min-width: 20em) and (max-width: 77.5em) {
@supports (padding-top: clamp( 7.5rem , 6.847826087rem  +  3.2608695652vw , 9.375rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 6.847826087rem  +  3.2608695652vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 6.847826087rem  +  3.2608695652vw , 9.375rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 1.875 * (100vw - 20rem) / 57.5);
    }
}
}

@media (any-hover: hover) {
  .header__tel-item:hover span {
    -webkit-transition: opacity 1s ease 0.25s, -webkit-transform 1s ease 0s;
    transition: opacity 1s ease 0.25s, -webkit-transform 1s ease 0s;
    -o-transition: transform 1s ease 0s, opacity 1s ease 0.25s;
    transition: transform 1s ease 0s, opacity 1s ease 0.25s;
    transition: transform 1s ease 0s, opacity 1s ease 0.25s, -webkit-transform 1s ease 0s;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-35%, -50%);
        -ms-transform: translate(-35%, -50%);
            transform: translate(-35%, -50%);
  }

  .icon-menu:hover::before {
    width: 75%;
  }

  .icon-menu:hover::after {
    width: 50%;
  }

  .scroll-back-to-top:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}